.u-section-1 .u-sheet-1 {min-height: 628px}
.u-section-1 .u-layout-wrap-1 {width: 890px; margin: 60px auto 60px 125px}
.u-section-1 .u-image-1 {min-height: 539px; background-image: url("images/ss.jpeg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 539px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-group-1 {width: 537px; min-height: 382px; background-image: none; margin: 45px auto 0 -122px}
.u-section-1 .u-container-layout-3 {padding: 30px 60px}
.u-section-1 .u-text-1 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-text-2 {margin-bottom: 0; margin-top: 20px} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {width: 820px; margin-left: 60px}
.u-section-1 .u-group-1 {width: 443px; height: auto; margin-left: -101px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 580px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-1 {min-height: 491px}
.u-section-1 .u-layout-cell-2 {min-height: 491px}
.u-section-1 .u-group-1 {width: 416px; margin-top: 38px; margin-left: -86px}
.u-section-1 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: auto}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-2 {min-height: auto}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-1 {width: 390px; margin-top: -113px; margin-left: auto}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-group-1 {width: 302px} }